/* #region Common */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --sptf-primary: #141922;
    --sptf-success: #adff2f;
    --sptf-white: #ffffff;
    --sptf-light: #c1c1c1;
    --sptf-black: #000000;
    --sptf-dark: #282828;
    --sptf-dark-soft: #727479;
}

/* #endregion Common */

/* #region utilities */

.d-flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.img-fluid {
    max-width: 100%;
}

.justify-end {
    justify-content: end;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}








/* #endregion utilities */

/* #region Debug */

.debug #app-top {
    background-color: lightskyblue;
    height: calc(100vh - 90px);
}

.debug #app-bottom {
    background-color: plum;
}

.debug #sidebar {
    background-color: lightgreen;
    height: 100%;
    width: 230px;
}

.debug #sideb_menu {
    display: flex;
    flex-direction: column;
}

.debug #app_main {
    background-color: lightsalmon;
    height: 100%;
}

.debug .card {
    background-color: mediumvioletred;
    border: 1px dashed black;
    aspect-ratio: 1 / 1;
}

.debug [class^="col-"] {
    background-color: white;

}

.debug #upgrade {
    background-color: yellow;
    height: 50px;
}

.debug #upgrade .btn {
    height: 30px;
    width: 100px;
    background-color: black;
}

.debug #app_bottom {
    background-color: hotpink;
    height: 90px;
}



/* #endregion Debug */


.p-05 {
padding-left: 0.5rem;

}


/*** Desktop First ***/


#filter {
    margin: 2rem 0;
}

#filter .container {
    justify-content: center;
    margin: auto;
}

#filter .container a {
    text-decoration: none;
    color: var(--sptf-dark-soft);
    padding: .5rem ;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: calc(100% / 12 * 2);
    padding: 1rem;
}

.col-4 {
    width: calc(100% / 12 * 4);
    padding: 1rem;
}

.col-2 img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--sptf-white);
    border-radius: 15rem;
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.41);
    text-transform: uppercase;
    font-size: 0.6rem;
}

.sm-logo {
    width: 30px;
    display: none;
}

.b-bottom-active::after {
    content: "";
    background-color: var(--sptf-success);
    height: 2px;
    width: 40%;
    display: flex;
    margin: 5px auto;
}


#sidebar span:hover {
    color: var(--sptf-white);
}


#recently_played h2,
#recently_played h4,
#created_for h2,
#created_for h4,
#most_popular h2,
#most_popular h4 {
    color: var(--sptf-white);
} 
#recently_played h2,
#created_for h2,
#created_for h5, 
#most_popular h2,
#most_popular h5 {
    padding: 1.1rem;
}

#recently_played h4,
#created_for h4,
#most_popular h4 {
    line-height: 1rem;
    padding-top: 1rem;
}
#recently_played h5,
#created_for h5,
#most_popular h5 {
    color: var(--sptf-dark-soft);
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

#created_for, 
#most_popular {
    padding: 2rem 0;
} 

#most_popular img {
    border-radius: 50%;
}

#sidebar {
    width: 230px;
    max-height: calc(100vh - 90px);
    background-color: var(--sptf-black);
    color: var(--sptf-white);
}

#sidebar .logo {
    max-width: 60%;
    padding: 1rem;
}


#sidebar a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--sptf-dark-soft);
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
    padding-left: 1rem;
}


#sidebar .menu img {
    width: 30px;
}

#sidebar .menu a.call_to_action:first-child {
    border-left: 2px solid var(--sptf-success);
}

#sidebar .menu span {
    padding-left: 0.5rem;
}

#sidebar h4 {
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

#sidebar .playlist {
    color: white;
    padding-left: 1rem;
    margin-bottom: 1rem;
}


#sidebar .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    aspect-ratio: 1 / 1;
    background-color: var(--sptf-light);
    color: black
}

#sidebar .playlist .box .fa-plus {
    display: block;
}
#sidebar .playlist-list h5 {
    text-transform: uppercase;
    color: var(--sptf-white);
    padding-left: 1rem;
    margin: 1.5rem 0 0.8rem;
}

#sidebar span, 
#sidebar h4 {
    color: var(--sptf-dark-soft);
}

#sidebar .bottom {
    padding: 0 1rem; 
}

#sidebar .bottom .install_link {
    border-bottom: 1px solid var(--sptf-light);
    color: var(--sptf-dark-soft);
    padding-bottom: 0.5rem;
}

#sidebar .bottom .install_link img {
    margin-right: 0.5rem;
    filter: brightness(50%) 
}

#sidebar .bottom .user {
    margin-bottom: .25rem;
    margin-top: .5rem;
}

#sidebar .bottom .user .box {
    border-radius: 50%;
    padding: 0.25rem;
    background-color: var(--sptf-dark-soft);
}

#sidebar .bottom .user img {
    width: 20px;
}

#sidebar .bottom .user span {
    margin-left: 0.5rem;
    color: var(--sptf-white);
}



/* #region #app-top */

#app-top {
    height: calc(100vh - 90px);
}

#app_main {
    max-height: calc(100vh - 90px);
    width: calc(100% - 230px);
    overflow: auto;
    background-color: var(--sptf-primary);
}

#recently_played .card .wrapper {
    position: relative;
} 

.transparent {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.484);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.transparent i {
    color: var(--sptf-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.transparent:hover {
    display: block;
}


#upgrade {
    background-color: rgba(0, 0, 0, 0.413);
    position: sticky;
    top: 0;
    padding: 1rem 0.5rem;
}


#upgrade .btn {
    display: inline-block;
    margin: 10px;
    
} 

#upgrade .btn:hover {
    transform: scale(1.2);
}




/* #region #app-bottom */

#app_bottom {
    height: 90px;
    background-color: var(--sptf-dark);
    position: relative;
    z-index: 1;
}

#app_bottom .card {
    height: 100%;
}

#app_bottom .player {
    gap: 1rem;
}

#app_bottom .song {
    color: var(--sptf-dark-soft);
    gap: 1rem;
}
#app_bottom .artist {
    color: var(--sptf-white);
    gap: 1rem;
}

#app_bottom [class^="col-"] {
    padding: 0.8rem;
}

#app_bottom .song_details .artist {
    color: var(--sptf-white);
    font-weight: bold;
}

#app_bottom .song_details .title {
    font-size: 0.8rem;
    font-weight: bold;
}

#app_bottom .add_to {
    gap: 1rem;
}

#app_bottom .player_settings {
    color: var(--sptf-white);
    margin: 0.5rem;
    gap: 1rem;
}

#app_bottom .loading {
    gap: 0.5rem;
    color: var(--sptf-light);
}

#app_bottom .song_span_bar {
    width: 80%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--sptf-dark-soft);
}

#app_bottom .progress_bar {
    width: 25%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--sptf-light);
}

#app_bottom .audio_video {
    color: var(--sptf-white);
    gap: 1rem;
}

#app_bottom .audio_video .volume_bar {
    width: 25%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--sptf-dark-soft);
}

#app_bottom .audio_video .volume_span {
    width: 25%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--sptf-light);
}


/* #endregion #app-bottom */

/* #region laptop */

@media screen and (max-width: 1200px) {
    
    .col-lg-3 {
        width: calc(100% / 12 * 3);
    }

    .sm-logo {
        display: none;
    }
    
}

/* #endregion laptop */

/* #region tablet */

@media screen and (max-width: 768px) {

    .col-md-6 {
        width: calc(100% / 12 * 6);
        /*o anche width 50%?*/
    }

    #app_bottom .add_to {
        flex-direction: column;
    }

    .sm-logo {
        display: none;
    }

    #sidebar .menu img {
        width: 25px;
    }

}

/* #endregion tablet */

/* #region mobile */

@media screen and (max-width: 475px) {

    #app_main {
        width: calc(100% - 50px);
    }
    
    #sidebar {
        width: 50px;
    }

    .col-sm-12 {
        width: 100%;
    }
  /* ho scelto di mettere una colonna nello screen per mobile */


    .col_side_bar {
        width: 50px;
        padding: 0;
        overflow: auto;
    }

    
    #sidebar .bg-logo {
        display: none;
    }
    
    .sm-logo {
        display: block;
        width: 100%;
    }


  

}

/* #endregion mobile */