/* #region Common */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --sptf-primary: #141922;
    --sptf-success: #adff2f;
    --sptf-white: #ffffff;
    --sptf-light: #c1c1c1;
    --sptf-black: #000000;
    --sptf-dark: #282828;
    --sptf-dark-soft: #727479;
}

/* #endregion Common */

/* #region utilities */

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.img-fluid {
    max-width: 100%;
}

.justify-end {
    justify-content: end;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.text-center {
    text-align: center;
}




/* #endregion utilities */

/* #region Debug */

.debug #app-top {
    background-color: lightskyblue;
    height: calc(100vh - 90px);
}

.debug #app-bottom {
    background-color: plum;
}

.debug #sidebar {
    background-color: lightgreen;
    height: 100%;
    width: 230px;
}

.debug #sideb_menu {
    display: flex;
    flex-direction: column;
}

.debug #app_main {
    background-color: lightsalmon;
    height: 100%;
}

.debug .card {
    background-color: mediumvioletred;
    border: 1px dashed black;
    aspect-ratio: 1 / 1;
}

.debug [class^="col-"] {
    background-color: white;

}

.debug #upgrade {
    background-color: yellow;
    height: 50px;
}

.debug #upgrade .btn {
    height: 30px;
    width: 100px;
    background-color: black;
}

.debug #app_bottom {
    background-color: hotpink;
    height: 90px;
}



/* #endregion Debug */

/*** Desktop First ***/

.wrapper {
    height: 100vh;
}

#filter {
    margin: 2rem 0;
}

#filter .container {
    width: 55%;
    max-width: 650px;
    margin: auto;
}

#filter .container a {
    text-decoration: none;
    color: var(--sptf-dark-soft);
    padding: .5rem ;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: calc(100% / 12 * 2);
    padding: 1rem;
}

.col-2 img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#recently_played h2,
#recently_played h4 {
    color: var(--sptf-white);
} 
#recently_played h2{
    padding: 1.1rem;
}

#recently_played h4 {
    line-height: 1rem;
    padding-top: 1rem;
}
#recently_played h5 {
    color: var(--sptf-dark-soft);
    padding-top: 0.5rem;
}

/* #region #app-top */

#app-top {
    height: calc(100vh - 90px);
}

#sidebar {
    width: 230px;
    height: 100%;
    background-color: var(--sptf-black);
}

#app_main {
    max-height: calc(100vh - 90px);
    width: calc(100vw - 225px);
    background-color: var(--sptf-primary);
    padding: 2rem 0;
}

#upgrade {
    
}

#upgrade .btn {
    display: inline-block;
    margin: 10px;

} 



/* #region #app-bottom */

#app_bottom {
    height: 90px;
    background-color: var(--sptf-dark);
}

/* #region laptop */

@media screen and (max-width: 1200px) {

    .col-lg-3 {
        width: calc(100% / 12 * 3);
    }

}

/* #endregion laptop */

/* #region tablet */

@media screen and (max-width: 768px) {

    .col-md-6 {
        width: calc(100% / 12 * 6);
        /*o anche width 50%?*/
    }

}

/* #endregion tablet */

/* #region mobile */

@media screen and (max-width: 475px) {

    .col-sm-12 {
        width: 100%;
    }

  

}

/* #endregion mobile */